$purple: #bf6dee;
$white: rgba(255, 255, 255, 0.719);
$bg: #dad6d6;
$black: #130b18;
$gray: #4d4d4d;

.main-bar {
	width: 98%;
	display: flex;
	height: fit-content;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem auto;
	flex-wrap: wrap;

	h3 {
		margin: 0;
	}

	.filter {
		border: 2px solid $gray;
		padding: 0.2rem 0.4rem;
		border-radius: 10px;
		transition: 0.2s ease-in-out;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 4rem;
		cursor: pointer;

		&:hover {
			border-color: $purple;
			box-shadow: 1px 1px 10px $purple;
			transform: translateY(-0.2rem);
		}

		h4 {
			margin: 0;
			color: $black;
			font-size: 0.9rem;
		}

		.filter-icon {
			color: $black;
		}
	}
}
